#### Job Satisfaction

In this notebook, you will be exploring job satisfaction according to the survey results.  Use the cells at the top of the notebook to explore as necessary, and use your findings to solve the questions at the bottom of the notebook.

In [1]:
import pandas as pd
import numpy as np
import JobSatisfaction as t
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('./survey_results_public.csv')
schema = pd.read_csv('./survey_results_schema.csv')
df.head()

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
1,2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0
2,3,Professional developer,"Yes, both",United Kingdom,No,Employed full-time,Bachelor's degree,Computer science or software engineering,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A professional degree,White or of European descent,Somewhat agree,Agree,Disagree,Agree,113750.0,NaN
3,4,Professional non-developer who sometimes write...,"Yes, both",United States,No,Employed full-time,Doctoral degree,A non-computer-focused engineering discipline,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A doctoral degree,White or of European descent,Agree,Agree,Somewhat agree,Strongly agree,NaN,NaN
4,5,Professional developer,"Yes, I program as a hobby",Switzerland,No,Employed full-time,Master's degree,Computer science or software engineering,Never,10 to 19 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
#Space for your code
# df['JobSatisfaction'].isnull().mean()
sum(df['JobSatisfaction'].isnull())/len(df['JobSatisfaction'])

0.20149722542142184

In [60]:
#More space for code
job_sat = df[df['JobSatisfaction'].isnull()==False]
job_sat.shape
# job_sat['EmploymentStatus'].value_counts()/job_sat['JobSatisfaction'].shape[0]
# df['EmploymentStatus'].value_counts()/len(df['JobSatisfaction'])
df['EmploymentStatus'].value_counts()

Employed full-time                                      13655
Independent contractor, freelancer, or self-employed     1866
Employed part-time                                       1168
Not employed, and not looking for work                   1066
Not employed, but looking for work                        906
I prefer not to say                                       381
Retired                                                    60
Name: EmploymentStatus, dtype: int64

In [57]:
df.groupby('EmploymentStatus').mean()['JobSatisfaction']

EmploymentStatus
Employed full-time                                      6.980608
Employed part-time                                      6.846154
I prefer not to say                                          NaN
Independent contractor, freelancer, or self-employed    7.231985
Not employed, and not looking for work                       NaN
Not employed, but looking for work                           NaN
Retired                                                      NaN
Name: JobSatisfaction, dtype: float64

In [21]:
sum(df['EmploymentStatus'].isnull())

0

In [64]:
#Additional space for your additional code
sum(job_sat['CompanySize'].isnull())
job_sat['CompanySize'].value_counts()/(job_sat['JobSatisfaction'].shape[0]-sum(job_sat['CompanySize'].isnull()))

20 to 99 employees          0.222662
100 to 499 employees        0.197319
10,000 or more employees    0.137699
10 to 19 employees          0.104519
1,000 to 4,999 employees    0.102468
Fewer than 10 employees     0.096829
500 to 999 employees        0.065993
5,000 to 9,999 employees    0.041456
I don't know                0.017432
I prefer not to answer      0.013623
Name: CompanySize, dtype: float64

In [65]:
df.groupby('CompanySize').mean()['JobSatisfaction'].sort_values()

CompanySize
10,000 or more employees    6.793617
5,000 to 9,999 employees    6.832155
1,000 to 4,999 employees    6.908506
20 to 99 employees          6.997039
Fewer than 10 employees     7.025719
100 to 499 employees        7.029324
500 to 999 employees        7.029967
10 to 19 employees          7.035739
I don't know                7.054622
I prefer not to answer      7.284946
Name: JobSatisfaction, dtype: float64

In [50]:
#Feel free to create new cells as you need them
sum(job_sat['HomeRemote'].isnull())
job_sat['HomeRemote'].value_counts()/(job_sat['JobSatisfaction'].shape[0]-sum(job_sat['HomeRemote'].isnull()))

A few days each month                                      0.369378
Never                                                      0.315409
All or almost all the time (I'm full-time remote)          0.113847
Less than half the time, but at least one day each week    0.090867
It's complicated                                           0.039656
More than half, but not all, the time                      0.037424
About half the time                                        0.033419
Name: HomeRemote, dtype: float64

In [73]:
df.groupby('HomeRemote').mean()['JobSatisfaction'].sort_values()

HomeRemote
Never                                                      6.697127
It's complicated                                           6.942053
More than half, but not all, the time                      6.973684
A few days each month                                      7.096694
About half the time                                        7.125737
Less than half the time, but at least one day each week    7.143786
All or almost all the time (I'm full-time remote)          7.405421
Name: JobSatisfaction, dtype: float64

In [72]:
sum(job_sat['ProgramHobby'].isnull())
job_sat['ProgramHobby'].value_counts()/(job_sat['JobSatisfaction'].shape[0]-sum(job_sat['ProgramHobby'].isnull()))

Yes, I program as a hobby                    0.458074
Yes, both                                    0.266308
No                                           0.211565
Yes, I contribute to open source projects    0.064053
Name: ProgramHobby, dtype: float64

In [71]:
df.groupby('ProgramHobby').mean()['JobSatisfaction'].sort_values()

ProgramHobby
No                                           6.874806
Yes, I program as a hobby                    6.927150
Yes, I contribute to open source projects    7.158649
Yes, both                                    7.189316
Name: JobSatisfaction, dtype: float64

In [76]:
sum(job_sat['FormalEducation'].isnull())
job_sat['FormalEducation'].value_counts()/(job_sat['JobSatisfaction'].shape[0]-sum(job_sat['FormalEducation'].isnull()))

Bachelor's degree                                                    0.469481
Master's degree                                                      0.251885
Some college/university study without earning a bachelor's degree    0.144758
Secondary school                                                     0.064512
Doctoral degree                                                      0.033043
Professional degree                                                  0.014686
I prefer not to answer                                               0.008982
I never completed any formal education                               0.006556
Primary/elementary school                                            0.006097
Name: FormalEducation, dtype: float64

In [77]:
df.groupby('FormalEducation').mean()['JobSatisfaction'].sort_values()

FormalEducation
Bachelor's degree                                                    6.900293
Primary/elementary school                                            6.946237
Master's degree                                                      6.977356
I never completed any formal education                               7.000000
Professional degree                                                  7.075893
Some college/university study without earning a bachelor's degree    7.151268
I prefer not to answer                                               7.211679
Secondary school                                                     7.219512
Doctoral degree                                                      7.438492
Name: JobSatisfaction, dtype: float64

#### Question 1

**1.** Use the space above to assist in matching each variable (**a**, **b**, **c**, **d**, **e**, **f**, **g**, or **h** ) as the appropriate key that describes the value in the **job_sol_1** dictionary.

In [39]:
a = 0.734
b = 0.2014
c = 'full-time'
d = 'contractors'
e = 'retired'
f = 'yes'
g = 'no'
h = 'hard to tell'

job_sol_1 = {'The proportion of missing values in the Job Satisfaction column': b, #letter here,
             'According to EmploymentStatus, which group has the highest average job satisfaction?':d ,#letter here, 
             'In general, do smaller companies appear to have employees with higher job satisfaction?': f }#letter here}
             
t.jobsat_check1(job_sol_1)

Nice job! That's what we found as well!

#### Question 2

**2.** Use the space above to assist in matching each variable (**a**, **b**, **c** ) as the appropriate key that describes the value in the **job_sol_2** dictionary. Notice you can have the same letter appear more than once.

In [80]:
a = 'yes'
b = 'no'
c = 'hard to tell'

job_sol_2 = {'Do individuals who program outside of work appear to have higher JobSatisfaction?': a,#letter here,
             'Does flexibility to work outside of the office appear to have an influence on JobSatisfaction?': a,#letter here, 
             'A friend says a Doctoral degree increases the chance of having job you like, does this seem true?': a}#letter here}
             
t.jobsat_check2(job_sol_2)

Nice job! That's what we found as well!